<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Tạo appender cho console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss.SSS}) %highlight(%-5level) %red(%thread) %yellow(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Tạo appender cho file log với chế độ rolling -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- Giới hạn lịch sử log -->
            <totalSizeCap>1GB</totalSizeCap> <!-- Giới hạn kích thước file log -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Cấu hình logger để sử dụng các appender -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
    </root>

    <!-- Cấu hình logger cho từng lớp hoặc package cụ thể -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="com.evotek" level="DEBUG"/>

</configuration>